<!doctype html>
<html lang="en">
   <head>
      <title>sh.rt | Link Preview</title>

      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
      <link rel="stylesheet" href="/style.css" />
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="container">
            <a class="navbar-brand" href="/">sh.rt</a>
         </div>
      </nav>
      <div class="container error">
         <h1>404</h1>
         <h6>Oops! That link does not exist!</h6>
      </div>
   </body>
</html>